shamefully-hoist=true
node-linker=hoisted
workspace-concurrency=1
strict-peer-dependencies=false
ignore-workspace-root-check=true
link-workspace-packages=false
save-workspace-protocol=false
shared-workspace-lockfile=false 